{% extends 'base.html.twig' %}

{% block title %}Codeshare !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main class="container">
        <section class="row gap-1">
            <aside class="col-md-3 col-sm-12">
                <img src={{ asset('img/favicon.svg') }} class="rounded-pill border d-none d-md-block d-lg-block"
                    width="200">
                    {% for item in user %}
                <h3 class="h2 mt-3">{{ item.username }} <span class="rounded-pill bg-primary text-light h6 px-2">PRO</span></h3>
                <p class="fs-6 text-muted text-uppercase">{{ item.job }}</p>
                <hr>
                <p class="fs-5">À propos</p>
                <p>{{ item.bio }}</p>
                <p><i class="fas fa-map-marker-alt mx-1"></i>{{ item.town }}</p>
                <p><i class="fas fa-envelope mx-1"></i>{{ item.email }}</p>
                <hr class="mb-5">
                {% endfor %}
            </aside> <!-- Sidebar -->
            <div class="col-md-8 border rounded px-3 py-2 mb-3">
                <div class="d-flex justify-content-between border-bottom mb-3">
                    <h2>Mes notes</h2>
                    <div>
                        <a href="" class="btn btn-success"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="row gap-1 justify-content-center">
                    <div class="border rounded col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                    <div class="border rounded col-sm-12 col-30 m-1 p-2">
                        <h4>Titre</h4>
                        <p>Extrait</p>
                        <a href="./note.html" class="btn btn-dark">Voir</a>
                    </div>
                </div> <!-- Liste des notes -->
                <div class="d-flex justify-content-center mt-3">
                    <nav aria-label="pagination">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link text-dark" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link text-dark" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> <!-- Pagination -->
                <h2>Mes achats</h2>
                <hr>
                <div class="row gap-1 justify-content-center">
                    <div class="col-3 m-2">
                        <div
                            class="border rounded mb-2 px-5 py-3 bg-light d-flex justify-content-center align-items-center">
                            <a href="" class="btn"><i class="fas fa-download"></i></a>
                        </div>
                        <h6>Produit A</h6>
                    </div> <!-- Produits -->
                    <div class="col-3 m-2">
                        <div
                            class="border rounded mb-2 px-5 py-3 bg-light d-flex justify-content-center align-items-center">
                            <a href="" class="btn"><i class="fas fa-download"></i></a>
                        </div>
                        <h6>Produit A</h6>
                    </div> <!-- Produits -->
                    <div class="col-3 m-2">
                        <div
                            class="border rounded mb-2 px-5 py-3 bg-light d-flex justify-content-center align-items-center">
                            <a href="" class="btn"><i class="fas fa-download"></i></a>
                        </div>
                        <h6>Produit A</h6>
                    </div> <!-- Produits -->
                </div> <!-- Contenu User -->
        </section>
    </main>


=======
<div class="row">
  {% for item in notes %}
		<div class="card col-4 col">
			<div class="card-body">
				<h4 class="card-title">{{ item.title }}</h4>
				<h5 class="card-subtitle">{{ item.user.username }}</h5>
				<p class="card-text">{{ item.content|slice(0,80) }}</p>
				<p class="card-text">{{ item.createdAt|date('d/m/Y') }}</p>
				
	</div>
    {% endfor %}
        <div class="row flex-center">
		{{ knp_pagination_render(notes) }}
	    </div>
  
</div>
{% endblock %}
