{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1>Edit User</h1>

	{# Ne pas utiliser le formulaire créer par make:crud pour modifier l'entité user,
		    créer un formulaire directement dans le template à cette place pour ensuite le traiter dans le controller (cf. voir comme mettre à jour un user dans le controller ici ligne 42 : https://github.com/Jensone/codexpress/blob/master/src/Controller/PaymentController.php ) #}
	{# {{ include('user/_form.html.twig', {'button_label': 'Update'}) }} #}

{# Nouveau nickel #}
	{# {{ form(form) }} #}


	<form>
		<label for="email">Email: </label><br>
		<input type="email" id="email" name="email" value="{{app.user.email}}"><br>
        <label for="Username">Username:</label><br>
		<input type="text" id="Username" name="username" value="{{app.user.username}}"><br>
        <label for="Job">Job:</label><br>
		<input type="text" id="Job" name="job" value="{{app.user.job}}"><br>
        <label for="Bio">Bio:</label><br>
		<input type="text" id="Bio" name="bio" value="{{app.user.bio}}"><br>
        <label for="Town">Town:</label><br>
		<input type="text" id="Town" name="town" value="{{app.user.town}}"><br>
        <label for="Country">Country:</label><br>
		<input type="text" id="Country" name="country" value="{{app.user.country}}"><br>
        <button type="submit">Update</button>
	</form>

	<a href="{{ path('app_user_index') }}">back to list</a>

	{{ include('user/_delete_form.html.twig') }}
   
{# {{ dump(form) }} #}

	{# {{ app.user.username }} #}


{% endblock %}
